@import "_colors.css";

* {
	font-family: "MesloLGMDZ Nerd Font", sans-serif;
	font-size: 14px;
	border: none;
}

window#waybar {
/*	background: linear-gradient(90deg, #2A2A2A 0%, #3A3A3A 100%); */
	background: transparent;
	border-radius: 10px;
	transition-duration: .5s;
}

#lhs {
	background: #2A2A2A;
	margin: 4px 4px;
	padding: 0px 4px;
	border-radius: 14px;
	font-size: 14px;
	font-weight: bold;
}

#lhs.empty {
	background: transparent;
}

#workspaces button {
	color: @btnTxt;
	padding: 0px 4px;
	margin: 4px 4px;
	border-radius: 10px;
	background: @btnBg;
	transition: all 0.3s ease-in-out;
	min-width: 24px;
}

#workspaces button.active {
	color: @btnActTxt;
	background: linear-gradient(135deg, @btnActCol1 0%, @btnActCol2 100%);
	min-width: 38px;
	transition: all 0.3s ease-in-out;
}

#workspaces button:hover {
	background: linear-gradient(135deg, @btnHovCol1 0%, @btnHovCol2 100%);
}

#workspaces {
	background: linear-gradient(90deg, #2A2A2A 0%, #3A3A3A 100%);
	border-radius: 14px;
	margin: 4px 0px;
}

#taskbar {
	background: transparent;
	margin: 0px 4px;
	border-radius: 10px;
}

#taskbar button {
	padding: 4px 4px;
	border-radius: 10px;
}

#taskbar button:hover {
	background: #4A4A4A;
}

#taskbar.empty {
	background-color:transparent;
}

#window {
	background: transparent;
	color: white;
	padding: 0px 4px;
	margin-right: 8px;
	font-size: 14px;
	font-weight: bold;
}

#clock {
	background: #2A2A2A;
	color: #FFFFFF;
	margin: 4px 2px 4px 2px;
	padding: 2px 10px 2px 10px;
	border-radius: 14px;
	font-size: 14px;
	font-weight: bold;
}

#disk, #memory, #cpu, #network, #pulseaudio, #bluetooth {
	margin:0px;
	padding:0px;
	font-size:14px;
}

#pulseaudio {
	color: #33DDDD;
}

#cpu {
	color: #83EE9F;
}

#memory {
	color: #D8D478;
}

#disk{
	color: #D4A585;
}

#bluetooth {
	color: #7078F3;
}

#bluetooth.connected {
	color: #8E95FF;
}

#bluetooth.off {
	color: #C4C38D;
}

#bluetooth.disabled {
	color: #8D90C4;
}

#network {
	color: #95EEA1;
}

#network.disconnected {
	color: #FF5555;
}

#battery {
	color: #FDC0C6;
}

#battery.charging, #battery.plugged {
	color: #5CFBBB;
}

#battery.warning:not(.charging) {
	color: #F3D870;
}

@keyframes blink {
    to {
        color: #FF0000;
    }
}

#battery.critical:not(.charging) {
	color: #F86868;
	animation-name: blink;
	animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;

}

#hardware {
	background: #2A2A2A;
	margin: 4px 4px 4px 4px;
	padding: 0px 10px 0px 10px;
	border-radius: 14px;
	font-size: 14px;
	font-weight: bold;
}
#power {
	background: #2A2A2A;
	color: #FFFFFF;
	margin: 4px 2px 4px 2px;
	padding: 2px 4px 2px 0px;
	border-radius: 10px;
	font-size: 16px;
}

#powerdraw, #custom-logout, #custom-hibernate, #custom-suspend, #custom-restart, #custom-shutdown, #custom-lock {
	margin-right: 10px;
	margin-left: 10px;
	font-size: 16px;
	font-weight: bold;
	opacity: 1;
}

/* -----------------------------------------------------
 * Other
 * ----------------------------------------------------- */

label:focus {
	background-color: #000000;
}

#backlight {
	background-color: #90b1b1;
}

.modules-left > widget:first-child > #workspaces {
	margin-left: 5px;
}

.modules-right > widget:last-child > #power {
	margin-right: 5px;
}
tooltip {
	border-radius: 10px;
	background-color: #2A2A2A;
	color: #FFFFFF;
	opacity: 1;
	padding: 2px 5px 2px 5px;
	margin: 5px;
	border: 1px solid #5F5F5F;
}

tooltip label {
	padding: 2px 5px 2px 5px;
	color: #FFFFFF;
	font-weight: bold;
}
